
:root {
    --prime-border-colour: darkblue;
    --prime-border-width: 3px;

    --font-regular: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body, #root {
    height: 100%;
    margin: 0;
  }

.whole-page{
    display: flex;
    flex-direction: column;
    height: 100%;/*calc(100vh);*/
    width: 100%;
}

.green-bkg{
    background-color: ForestGreen;
}

.grey-bkg{
    background-color: grey;
}

.larder-seperation{
    display:flex;
    padding: 5px;
}

.larder-seperation > div{
    flex-basis: 50%;
}

#user-summary{
    border-color:var(--prime-border-colour);
    border-width: var(--prime-border-width);
    border-style: solid;

    background-color:mintcream;
    padding: 2px;
    display:block;
    margin-bottom: 4px;

    font-size: 16pt;
    font-family: var(--font-regular);
    min-height: 20vh;
    width: 80%;
}

.grey-text{
    color: grey;
}

#fooditem-table{
    border-spacing: 0px;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;

}

td, th{
    padding: 0px;
    border-width: var(--prime-border-width);
    border-color:var(--prime-border-colour);
    border-style: solid;
    box-sizing: border-box; 
}

td > textarea, th > textarea{
    /*background-color: red;*/
    width: 100%;
    resize: none;
    padding: 0px;
    border : 0px;
    display: block;
    box-sizing: border-box; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    align-content: center;
    padding-left: 2px;
}

th > textarea{
    background-color:mediumaquamarine;
    font-size: large;
}

textarea.table-title-immutable:focus-visible{
    outline: 0;
}

.toolbar{
    display:flex;
    background: linear-gradient(cornflowerblue,rgb(0, 0, 255));
    padding: 5px;
    justify-content: space-between;
    width: calc(100% - 10px);
    border-top:    3px solid blue;
    border-bottom: 3px solid cornflowerblue;
    
}

#lp-top-toolbar{
    position: sticky;
    top:0;
}

.fixed-bottom{
    width: 100%;
    position: fixed ;
    bottom: 0vh;

}

.advertisement{
    background-color: orange;
    color : navy;
    font-weight: bold;
    text-align:center;
    max-height: 25vh;
    position: sticky
}

.fooditem-count-buttons{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.lp-button{
    width: 25%;
    font-weight: bold;
    font-size: large;
    border-width: 10px;
    border-radius: 5px;
}

.add-button{
    border-color: lawngreen;
    color: darkgreen;
    background-image: linear-gradient(
        90deg,lawngreen 0%, 
        white 30%, 
        white 70%,
        lawngreen 100%
    );
}

.delete-button{
    border-color: red;
    color: darkred;
    background-image: linear-gradient(
        90deg,red 0%, 
        white 20%, 
        white 80%,
        red 100%
    );
}

.homescreen{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.homescreen-center{
    display: flex;
    height: 50%;
    width: 60%;
    ;
}

.homescreen-center > button, form{
    flex-basis: 100%;
}

.homescreen-center > button{
    font-size: 400%;
    /*text-align: start;*/
}

#own-larder-button{
    background-color: aqua;
    background-image: linear-gradient(
        aqua 0%, 
        royalblue 80%, 
        lightskyblue 100%
    );
    font-family: var(--font-regular);
    border-color: darkcyan;
    border-width: 5px;
    border-radius: 12%;
}